<table>
  <thead>
    <th>{{ localize("scorer") }}</td>
    <th>{{ localize("team") }}</th>
    <th>#</th>
    <th>{{ localize("period") }}</th>
    <th>{{ localize("time") }}</th>
    <th>{{ localize("assist") }}</th>
    <th>{{ localize("assist_second") }}</th>
  </thead>
  <tbody>
    {% for goal in goals %}
      <tr>
        <td>{{ goal|goal_player_name }}</td>
        <td>{{ goal.team_name }}</td>
        <td>{{ goal.player_number }}</td>
        <td>{{ goal.period_short_name }}</td>
        <td>{{ goal.time_remaining|seconds_as_time }}</td>
        <td>
          {{ goal|goal_assist_name(lang) }}
        </td>
        <td>
          {{ goal|goal_second_assist_name(lang) }}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
