<table>
	<thead>
		<tr>
			<th>{{ "game_plural"|intl(lang)|capitalize }}</th>
			<th>Points</th>
			<th>RW</th>
			<th>RL</th>
			<th>OW</th>
			<th>OL</th>
			<th>T</th>
		</tr>
	</thead>
	<tbody>
		{% for team in iihf_stats %}
			<tr>
				<td>{{ team.team_name }}</td>
				<td>{{ team.points }}</td>
				<td>{{ team.reg_wins }}</td>
				<td>{{ team.reg_losses }}</td>
				<td>{{ team.ot_wins }}</td>
				<td>{{ team.ot_losses }}</td>
				<td>{{ team.ties }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
