<table>
	<thead>
		<tr>
			<th>{{ localize("team") }}</th>
			<th>{{ localize("point_plural") }}</th>
			<th>{{ localize("reg_wins_short") }}</th>
			<th>{{ localize("reg_losses_short") }}</th>
			<th>{{ localize("ot_wins_short") }}</th>
			<th>{{ localize("ot_losses_short") }}</th>
			<th>{{ localize("ties_short") }}</th>
		</tr>
	</thead>
	<tbody>
		{% for team in iihf_stats %}
			<tr>
				<td>{{ team.team_name|nullable }}</td>
				<td>{{ team.points }}</td>
				<td>{{ team.reg_wins }}</td>
				<td>{{ team.reg_losses }}</td>
				<td>{{ team.ot_wins }}</td>
				<td>{{ team.ot_losses }}</td>
				<td>{{ team.ties }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
