<table>
  <thead>
    <th>{{ localize("shooter") }}</td>
    <th>{{ localize("team") }}</th>
    <th>#</th>
    <th>{{ localize("type") }}</th>
    <th>{{ localize("period") }}</th>
    <th>{{ localize("time") }}</th>
    <th>{{ localize("assist") }}</th>
    <th>{{ localize("assist_second") }}</th>
  </thead>
  <tbody>
    {% for shot in shots %}
      <tr>
        <td>{{ shot.player_first_names|initials }} {{ shot.player_last_name }}</td>
        <td>{{ shot.team_name }}</td>
        <td>{{ shot.player_number }}</td>
        <td>
          {% if shot.is_goal %}
            {{ localize("goal") }}
          {% else %}
            {{ localize("shot") }}
          {% endif %}
        </td>
        <td>{{ shot.period_short_name }}</td>
        <td>{{ shot.time_remaining|seconds_as_time }}</td>
        <td>
          {{ shot|shot_assist_name(lang) }}
        </td>
        <td>
          {{ shot|shot_second_assist_name(lang) }}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
