<table>
  <thead>
    <th>{{ localize("shooter") }}</td>
    <th>{{ localize("team") }}</th>
    <th>#</th>
    <th>{{ localize("type") }}</th>
    <th>{{ localize("period") }}</th>
    <th>{{ localize("time") }}</th>
    <th>{{ localize("assist") }}</th>
    <th>{{ localize("assist_second") }}</th>
  </thead>
  <tbody>
    {% for shot in shots %}
      <tr>
        <td>{{ shot.player_name }}</td>
        <td>{{ shot.team_name }}</td>
        <td>{{ shot.player_number }}</td>
        <td>
          {% if shot.is_goal %}
            {{ localize("goal") }}
          {% else %}
            {{ localize("shot") }}
          {% endif %}
        </td>
        <td>{{ shot.period_short_name }}</td>
        <td>{{ shot.time_remaining|seconds_as_time }}</td>
        <td>
          {% if shot.is_goal %}
            {% if shot.first_assist_name.is_some() %}
              {{ shot.first_assist_name.as_ref().unwrap() }}
            {% else %}
              {{ localize("unassisted") }}
            {% endif %}
          {% else %}
            {{ localize("not-applicable") }}
          {% endif %}
        </td>
        <td>
          {% if shot.second_assist_name.is_some() %}
            {{ shot.second_assist_name.as_ref().unwrap() }}
          {% else %}
            {{ localize("not-applicable") }}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
