<!DOCTYPE html>
<html lang="{{ lang }}">
	<head>
		<!-- TODO: auto-generate IBIHF string to some other languages -->
		<title>{% block title %}{% endblock %} | IBIHF Stats</title>
		{% block head %}{% endblock %}
	</head>
	<body>
		<header></header>
		<main>
			{% block content %}{% endblock %}
		</main>
		<footer>
      <a href="https://git.tait.tech/tait/ibihf">{{ localize("view-code") }}</a>
      <br/>
      Version: {{ VERSION }}
      {% for ll in lang_links %}
        <a href="{{ ll.href }}">{{ ll.name }}</a>
      {% endfor %}
    </footer>
	</body>
</html>
