{% extends "master.html" %}

{% block content %}
<h1>{{ player.name }}</h1>
<h2>Latest Competition: {{ league.name }}</h2>
<label for="league_points">Points</label>
<span id="league_points">{{ league_stats.points }}</span>
<label for="league_goals">Goals</label>
<span id="league_goals">{{ league_stats.goals }}</span>
<label for="league_goals">Assists</label>
<span id="league_goals">{{ league_stats.goals }}</span>
<h2>Lifetime Stats</h2>
<label for="lfietime_points">Points</label>
<span id="lfietime_points">{{ lifetime_stats.points }}</span>
<label for="lfietime_goals">Goals</label>
<span id="lfietime_goals">{{ lifetime_stats.goals }}</span>
<label for="lfietime_goals">Assists</label>
<span id="lfietime_goals">{{ lifetime_stats.goals }}</span>
{% endblock %}
